include LICENSE
include PYPI_README.md
include API_REFERENCE.md
include src/open_alo_core/py.typed
recursive-include src *.py
recursive-include src *.pyi
prune tests
prune examples
prune __pycache__
prune assets
global-exclude *.pyc
global-exclude *.pyo
global-exclude .DS_Store
